<div class="field">
  <label class="label">{{label}}</label>
  <div class="control">
    <input class="input is" [formControl]="controls" 
    [ngClass]="{'is-danger':showErrors()}"/>
  </div>

<ng-container
  *ngIf="showErrors()">
  <div class="help is-danger" *ngIf="controls.name.errors.required">
    Value is required.
  </div>
  <div class="help is-danger" *ngIf="controls.name.errors.minlength">
    Value you entered is
    {{ controls.name.errors.minlength.actualLength }}
    characters long, but it must be at least
    {{ controls.name.errors.minlength.requiredLength }}
    characters
    <div class="help is-danger" *ngIf="controls.errrors.pattern">Invalid format!</div>
  </div>
</ng-container>
</div>